*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}
body{
    
    background-image: url("imgs/asfal.jpg");
    backface-visibility:initial;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
}
.logo{
    background-color: rgba(0, 77, 23, 0.7);;
    font-size: 37px;
    text-align: center;
    border-style:double;
    padding: 4px;
    color: rgb(251, 255, 0);
    
    cursor: pointer;
    align-items: center;
}

.menu{  
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
    display: flex;
}
.menu{
    background-image: url(imgs/fondo1.jpg);
    object-fit: cover;
    background-size:cover;   
}
ul{
    list-style: none;
}

 .menu{
     align-items: center;
     padding-bottom: 450px;
    
    background-color:cadetblue;     
}
.tamaño img{
    max-width: 10;  
}
button{
    background-color:rgba(97, 170, 119, 0.4);
    box-shadow: 0px, 12px, 16px;
}
.foro-bicicletas{
    margin: 5px;
    display: flex;
    font-weight: bold;
    justify-content: center;
}
.pulsor{
    margin: 3px;
    cursor: pointer;  
}
.url{
    text-decoration: none;
}
.titulo-bici{
    color: lightgreen;
    text-overflow: clip;
}
.img-foro{
    padding: 10px 10px 10px 10px;;
    height: 140px;
    align-items: center;
    width: 200px;
    object-fit: cover;
   
}
.precio{
    margin: 6;
    font-size: 35;
    border: 3px;
    border-style:dotted;
    color: rgb(250, 228, 101);
}
.epigrafe{
   color: rgb(255, 255, 255);
   font-style: oblique;
   margin: 4;
}

