*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}
body{
    
    background-image: url("imgs/asfalto2.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
   

    
    
}

.lateral img{
   
    max-width: 80;
   max-height: 50;
   padding: 10px 10px 10px 10px;
   
  
}

.logo{
    font-size: 25px;
    padding: 1px 20px 20px 20px;
    color: rgb(251, 255, 0);
    font-weight: bold;
    cursor: pointer;
}

.menu{
   
    padding: 10px 10px 10px 10px;
    
    justify-content: space-between;
    display: flex;
  
}
.menu{
    background-image: url(imgs/fondo1.jpg);
    object-fit: cover;
    background-size:cover;
    
    
}
ul{
    list-style: none;
}

 .lateral{
    align-items: center;
    display: flex;

    
}
 .menu{
     align-items: center;
     padding-bottom: 450px;
    
    background-color:cadetblue;
   
    
}
.tamaño img{
    max-width: 10;
   
}
button{
    background-color: transparent;
    box-shadow: 0px, 12px, 16px;
}
.foro-bicicletas{
   
    display: flex;
    font-weight: bold;
    
}
.pulsor{
    cursor: pointer;
}
.img-foro{
    padding: 10px 10px 10px 10px;;
    height: 140px;
    align-items: center;
    width: 200px;
    object-fit: cover;
   
}
.precio{
    color: rgb(253, 235, 133);
}

