*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}
body{
    
    background-image:url("imgs-raleigh/pexels-karolina-grabowska-5202288.jpg");
    image-resolution:calc(1000);
    object-fit: cover;
    overflow: scroll;
    
}

.lateral img{
   
    max-width: 80;
   max-height: 50;
   padding: 10px 10px 10px 10px;
   
  
}

.logo{
    font-size: 25px;
    padding: 1px 20px 20px 20px;
    color: rgb(251, 255, 0);
    font-weight: bold;
}

.menu{
    padding: 10px 10px 10px 10px;
    background-size:cover;
    justify-content: space-between;
    display: flex;
    background-image: url(imgs-raleigh/fondo1.jpg);
    background-blend-mode: darken;
}


 .lateral{
     list-style: none;
    align-items: center;
    display: flex;

    
}
 
.tamaño img{
    max-width: 10;
   
}


.foro-raleigh{
    margin-top: 40;

font-weight: bold;
    text-align: center;
    
}

.img-foro{
    background-image: auto;
    
    align-items: center;
  
    object-fit: cover;
   
}
.precio{
    color: rgb(253, 235, 133);
}
ul{
    list-style: circle;
}
.Bloque-Caracteristicas{
   background-color: beige;
   margin: 20;
   border-style: groove;
}

.Especificaciones li{
    list-style: circle; list-style: circle;
    padding: 5% 5% 1%;
}

.Carrousel{
    max-width: 50px;
    flex-grow: initial;
    display: flex;
    align-items: center;
}