*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    
    background-image:url("imgs-raleigh/pexels-karolina-grabowska-5202288.jpg");
    image-resolution:calc(1000);
    object-fit: cover;
    overflow: scroll;
    
}

.lateral img{
   
    max-width: 80;
   max-height: 50;
   padding: 10px 10px 10px 10px;
   
  
}

.logo{
    font-size: 25px;
    padding: 1px 20px 20px 20px;
    color: rgb(251, 255, 0);
    font-weight: bold;
}

.menu{
    padding: 10px 10px 10px 10px;
    background-size:cover;
    justify-content: space-between;
    display: flex;
    background-image: url(imgs-raleigh/fondo1.jpg);
    background-blend-mode: darken;
}


 .lateral{
     list-style: none;
    align-items: center;
    display: flex;

    
}
 
.tamaño img{
    max-width: 10;
   
}


.foro-raleigh{
    padding: 20px 20px;
    max-width: auto;
    max-height: auto;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.img-foro{
    background-image: auto;
    height: 55%;
    width: 55%;
    align-items: center;
   
    padding-top: 20px;
    padding-bottom: 5px;
    object-fit: cover;
   
}

ul li{
    list-style-type: none;
}
.Bloque-Caracteristicas{
   background-color: beige;
   margin: 20;
   border-style: groove;
padding-top: 3px;
padding-left: 5px;
}

.Especificaciones li{
    
    padding: 3% 3% 1%;
}

.Carrousel{
    justify-content: center;
    object-fit: fill;
    display: flex;
    align-items:center;
}
.title{
    font-size: larger;
    font-style: oblique;
}
.titulo-bici{
    font-size: 30px;
    font-style: inherit;
    color: darkcyan;
}
.epigrafe{
    font-size: 16px;
}
.precio{
    color: rgb(253, 235, 133);
    font-size: 50px;
}
