*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}
body{
    
    background-image:url("pexels-karolina-grabowska-5202288.jpg");
image-resolution:calc(1000);
    object-fit: cover;
}

.lateral img{
   
    max-width: 80;
   max-height: 50;
   padding: 10px 10px 10px 10px;
   
  
}

.logo{
    font-size: 25px;
    padding: 1px 20px 20px 20px;
    color: rgb(251, 255, 0);
    font-weight: bold;
}

.menu{
    padding: 10px 10px 10px 10px;
    
    justify-content: space-between;
    display: flex;
  
}
.menu{
    background-image: url(fondo1.jpg);
    background-size: cover;
   
    
}
ul{
    list-style: none;
}

 .lateral{
    align-items: center;
    display: flex;

    
}
 .menu{
     
     align-items: center;
     padding-bottom: 450px;
    
    background-color:cadetblue;
   
    



